head {
  font-family: Verdana;
}

.search-control > input,
.search-control > button {
  background-color: #e4f0f5;
  color: #29627e;
  font-size: 1.0rem;
}

body {
  font-family: Verdana;
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-item {
  margin-right: 1.8rem;
}

label.primary {
  display: flex;
  margin: 0.4em 0;
}

label::after {
  content: ":";
}

button, input[type="submit"] {
  margin-top: 1rem;
}

#club-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.club-list-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #20437c;
  border-radius: 5%;
  background: #ccffcc;
}
